<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" style="padding-top: 5px; padding-bottom: 5px; border:transparent">
      <ion-tab-button tab="home">
        <ion-icon name="globe-sharp"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="discover">
        <ion-icon name="search-sharp"></ion-icon>
        <ion-label>Find</ion-label>
      </ion-tab-button>
      <ion-tab-button style="position: relative; width: 100px; height: 100px;" tab="new-challenge">
        <ion-icon style="font-size: 45px;" name="flash-sharp"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="podium">
        <ion-icon name="podium-sharp"></ion-icon>
        <ion-label>Ranking</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-sharp"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>