<ion-header>
  
</ion-header>

<ion-content>
  <ion-img src="../../assets/icon/brandmark-design.svg"></ion-img>

  <ion-item lines="none">
    <ion-label position="stacked">E-Mail</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Username</ion-label>
    <ion-input [(ngModel)]="username" type="name"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Repeat Password</ion-label>
    <ion-input [(ngModel)]="passwordRepeat" type="password"></ion-input>
  </ion-item>

  <ion-button (click)="register()" color="secondary" class="registerBtn no-ripple" expand="block">
    <p>Register</p>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-button>

  <ion-text (click)="navigateTo('/login')" color="secondary" class="ion-text-center loginText">
    <p>Click to Login</p>
  </ion-text>

</ion-content>
